.App {
  /* text-align: center; */
  background-color: #343a40;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #343a40!;
  min-height: 100vh;
  /* display: flex; */
  flex-direction: column;

  /* justify-content: center; */
}
/* .login-content {
  background: #ffffff;
  padding: 30px 30px 20px;
  border-radius: 2px;
} */
.login-content h4 {
  margin-bottom: 15px;
}
.login-content {
  max-width: 540px;
  margin: auto;
  margin-bottom: 15px;
}
.login-form {
  background: #ffffff;
  padding: 30px 30px 20px;
  border-radius: 2px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
